<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis atque praesentium veritatis natus architecto similique beatae voluptatum odio deleniti? Eligendi sed possimus tempore assumenda quos, fugit vel odio quis quod.</p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/pico-preview">Pico preview</a></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>